<h1>Score</h1>

<h3>Total Score: <%= @result[:total].to_i %></h3>

<p>
  <strong><%= @attempt %></strong>
  <%= @result[:message] %>
  Your score is
  <strong><%= @result[:score].to_i %></strong>
</p>


<%= link_to 'Play again', 'new' %>
